* {
  margin: 0px;
  padding: 0px;
}
/* using google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* body */
body {
  background-color: #f5f8ff;
  max-width: 1440px;
}
/* shared styles */
.display-flex {
  display: flex;
}
.text-black {
  color: #1f1f22;
}
.text-grey {
  color: #8987a1;
}
/* header styles */

/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}
.nav-item {
  list-style: none;
  margin-left: 48px;
}
.nav-link {
  text-decoration: none;
}
.nav-text {
  font-size: medium;
  font-weight: bold;
}

/* start main section  */
.primary-font {
  font-size: 65px;
  font-weight: 700;
}
.text-color {
  color: #e95a08;
}
.content-head {
  justify-content: space-between;

  /* align-items: center; */
  /* border: 1px solid red; */
  max-width: 1140px;
  height: 461px;
  margin: 120px auto 0px;
}
.content-img {
  width: 570px;
  height: 355px;
  margin-top: 106px;
}
.content-sub {
  width: 570px;
  height: 299px;
  margin-top: 162px;
}
.content-para {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
  width: 550px;
  height: 108px;
  line-height: 27px;
}
/* Our Plant Section  */
.plant-content {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}
.plant-head {
  font-size: 50px;
  font-weight: 700px;
  margin-top: 120px;
  /* line-height: 68px; */
  /* text-align: center; */
}
.plant-sub-head {
  font-size: 22px;
  font-weight: 400px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  width: 888px;
  height: 54px;
}
/* Card Section  */
.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin: 0 auto;
  max-width: 1140px;
  gap: 20px;
}
.card-content {
  justify-content: space-between;
  flex-direction: column;
  width: 270px;
  height: 484.94px;
  /* border: 1px solid red; */
  margin-top: 49px;
}
.card-content img {
  width: 270px;
  height: 322.94px;
}
.card-head {
  text-align: center;
  font-size: 22px;
  font-weight: 500px;
  color: #111111;
  margin-top: 30px;
}
.card-sub {
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  text-align: center;
  margin-top: 20px;
}
.card-btn {
  background-color: #e95a08;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 270px;
  height: 50px;
  margin-top: 10px;
  border: none;
}
/* flower-store-section  */
.flower-store-section {
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  margin: 210px auto 0px;
  gap: 60px;
}
.flower-store-img {
  width: 540px;
  height: 597px;
}
.flower-store-title {
  width: 540px;
}
.flower-store-head {
  font-size: 50px;
  font-weight: bold;
}
.flower-store-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px 35px;
}
/* Deals Section  */
.Deals-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 133.87px;
}
.Deals-title {
  max-width: 1440px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.Deals-para {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  width: 860px;
  height: 54px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 16px;
}
/* Deals picture collage */
.deals-container {
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  margin: 120px auto;
  /* gap: 20px; */
}
.deals-pic1 {
  background-image: url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  width: 367px;
  height: 206px;
  border-radius: 14px;
  position: relative;
}
.deals-pic2 {
  background-image: url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  width: 367px;
  height: 197px;
  border-radius: 14px;
  position: relative;
}

.deals-text1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.deals-text1 a {
  color: white;
}
.deals-pic3 {
  background-image: url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  width: 753px;
  height: 423px;
  border-radius: 22px;
  position: relative;
}
.deals-text2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 498px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deals-text2 a {
  color: white;
}
.deals-pic {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
/* start the colorful image bunch */
.bunch-section {
  max-width: 1440px;
  height: 533px;
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: white;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.bunch-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bunch-content h1 {
  font-size: 50px;
  font-weight: bold;
}
.subscribe-form {
  justify-content: center;
  align-items: center;
  margin-top: 23px;
}
.subscribe-form input[type="email"] {
  width: 644px;
  height: 50px;
  font-size: 16px;
  padding: 0px 20px;
  border: none;
}
.subscribe-form button {
  background-color: #e95a08;
  border: none;
  width: 186px;
  height: 50px;
  padding: 0px 50px;
  color: white;
  font-size: 16px;
  /* font-weight: bold; */
}
/* start footer section  */
.footer-section {
  max-width: 1140px;
  margin: 50px auto;
}
.footer-1st {
  /* justify-content: space-between; */
  flex-direction: column;
  width: 359px;
}
.footer-1st img {
  width: 135px;
  height: 82px;
}
.footer-1st p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  width: 350px;
  margin-top: 16px;
}
.footer-2nd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.footer-3rd {
  gap: 24px;
}
.footer-li {
  list-style: none;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 110px;
  width: 128px;
}
.icon {
  width: 36px;
  height: 36px;
}
/* responsive layout  */
