* {
  margin: 0px;
  padding: 0px;
}
/* using google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* body */
body {
  background-color: #f5f8ff;
  max-width: 1440;
}
/* shared styles */
.display-flex {
  display: flex;
}
.text-black {
  color: #1f1f22;
}
.text-grey {
  color: #8987a1;
}
/* header styles */

/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}
.nav-item {
  list-style: none;
  margin-left: 48px;
}
.nav-link {
  text-decoration: none;
}
.nav-text {
  font-size: medium;
  font-weight: bold;
}

/* start main section  */
.primary-font {
  font-size: 65px;
  font-weight: 700;
}
.text-color {
  color: #e95a08;
}
.content-head {
  justify-content: space-between;

  /* align-items: center; */
  /* border: 1px solid red; */
  max-width: 1140px;
  height: 461px;
  margin: 120px auto 0px;
}
.content-img {
  width: 570px;
  height: 355px;
  margin-top: 106px;
}
.content-sub {
  width: 570px;
  height: 299px;
  margin-top: 162px;
}
.content-para {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
  width: 550px;
  height: 108px;
  line-height: 27px;
}
/* Our Plant Section  */
.plant-content {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}
.plant-head {
  font-size: 50px;
  font-weight: 700px;
  margin-top: 120px;
  /* line-height: 68px; */
  /* text-align: center; */
}
.plant-sub-head {
  font-size: 22px;
  font-weight: 400px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  width: 888px;
  height: 54px;
}
/* Card Section  */
.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin: 0 auto;
  max-width: 1140px;
  gap: 20px;
}
.card-content {
  justify-content: space-between;
  flex-direction: column;
  width: 270px;
  height: 484.94px;
  /* border: 1px solid red; */
  margin-top: 49px;
}
.card-content img {
  width: 270px;
  height: 322.94px;
}
.card-head {
  text-align: center;
  font-size: 22px;
  font-weight: 500px;
  color: #111111;
  margin-top: 30px;
}
.card-sub {
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  text-align: center;
  margin-top: 20px;
}
.card-btn {
  background-color: #e95a08;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 270px;
  height: 50px;
  margin-top: 10px;
  border: none;
}
/* flower-store-section  */
.flower-store-section {
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  margin: 210px auto 0px;
  gap: 60px;
}
.flower-store-img {
  width: 540px;
  height: 597px;
}
.flower-store-title {
  width: 540px;
}
.flower-store-head {
  font-size: 50px;
  font-weight: bold;
}
.flower-store-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px 35px;
}
